/* Estilização dos botões collapsibles */
.collapsible {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.collapsible:hover {
    background-color: #ddd;
}

.content {
    display: none;
    
    padding: 0 10px;
    overflow: hidden;
    background-color: #f9f9f9;

    text-align: center;
    justify-content: center;
}








    /*    transform:scale(2);
    transform-orgigin: center;*/ 


/* Estilização do carrossel */
.carousel {
    width: 200px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 600px;
    height: auto;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

